# -*- cmake -*-
#
# ROBWORKSTUDIO SPECIFIC
#


# We need the location of RobWork
SET(RW_ROOT ${ROOT}/../RobWork/)

# Enable the building of the RWStudio sandbox
SET(RWS_BUILD_SANDBOX ON)

# Enable that default RWS plugins are linked staticly
SET(RWS_USE_STATIC_LINK_PLUGINS OFF)

# Enable the use of lua
SET(RWS_USE_LUA ON)

# Enable generation of tests
SET(RWS_BUILD_TESTS ON)
